---
layout: default
---


<div class="markdownBody" id="page-metadata">
    <div id="page-metadata-block" >
        <span id="page-date-range"><span id="page-publication" title="Date of first publication"><em>{{ page.date |
                    date: "%B %-d, %Y" }}</em></span>
            {% if page.last_modified %}
            - <span id="page-modified" title="Date of last major modification"><em>⁠⁠{{ page.last_modified | date: "%B
                    %-d, %Y" }}</em></span>
        </span>
        {% endif %}
        </span>

        
        <span id="page-status"
            title="Writing status of current pagec: abandoned, notes, in Progress, draft, published">status: <em>{{
                page.status | default: "notes" }}</em></span>
        {% if page.showbacklinks == true %}
        {% if page.backlinks.size > 0 %}
        <span class="backlinks" id="page-backlinks"><a id="backlinks" class="backlinks" href="#Backlinks"
                data-attribute-title="Reverse citations/backlinks for this page (the list of other pages which link to this page)."><span
                    class="indicator-hook"></span><em>backlinks ({{ page.backlinks.size }})</em></a></span>
        {% else %}
        <span class="backlinks"><a id="backlinks" class="backlinks"
                data-attribute-title="Reverse citations/backlinks for this page (the list of other pages which link to this page)."><span
                    class="indicator-hook"></span><em>no backlinks</em></a></span>
        {% endif %}
        {% endif %}
    </div>
</div>

<div id="markdownBody" class="markdownBody">
    <article>
        <h1>{{ page.title}}</h1>
        <!-- <p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p> -->
        {{ content }}

    </article>

{% assign home = site.html_pages | where: 'url', '/' | first %}
{% if page.url != home.url %}
{% if page.showbacklinks == true %}
{% if page.backlinks.size > 0 %}
<h2 id="Backlinks"><a href="#Backlinks" class="no-popup">Backlinks</a></h2>
<p>This page is referenced by the following pages on this site:</p>
<div class="backlink-box">
    <ul >
        {% for backlink in page.backlinks %}
        <li style="margin:0; padding:0.2em;"><a href="{{ site.url }}{{ backlink.url }}">{{ backlink.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endif %}
{% endif %}

</div>